html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
  @include theme();
  background-color: $cWhite;
  direction: rtl;
  padding: 0;
  margin: 0;

  &:hover {
    overflow: auto;

  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  }
}