@font-face {
  font-family: ONBR;
  src: url("../../font/dana-regular.ttf");
  src: url("../../font/dana-regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: ONBTh;
  src: url("../../font/dana-thin.ttf");
  src: url("../../font/dana-thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: ONBL;
  src: url("../../font/dana-light.ttf");
  src: url("../../font/dana-light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: ONBM;
  src: url("../../font/dana-medium.ttf");
  src: url("../../font/dana-medium.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: ONBB;
  src: url("../../font/dana-bold.ttf");
  src: url("../../font/dana-bold.ttf") format("truetype");
  font-weight: bold;
}

/** Font sizes */
.light-regular-large {
  @include theme(2*$fLarge, $cWhite);
}

.light-regular-medium {
  @include theme($fLarge, $cWhite);
}

.regular-medium {
  @include theme($fLarge);
}

.gray-regular-small {
  @include theme($fSmall, $cGray, "ONBM");
}