.button {
  background-color: $cSecondary;
  color: $cWhite;
  border-radius: 5px;
  height: 60px;
  border: 0;
  font-family: ONBM;
  font-size: $fLarge;
  margin-top: 5px;

  &:focus {
    outline: none;
  }
}