.books {
  @include margin('0 0 40px 0');

  @include respond(tab-port) {
    margin: 0;
  }

  .info {

    @include respond(tab-port) {
      flex-direction: column;
    }

    .center {
      p {
        margin: 0;
      }
    }

    img {
      margin-left: 20px;
    }
  }

}