.main {
  @include padding('0 40px 0 0');
  @include margin('60px 0 0 0');
  @include respond(tab-port) {
    margin: 0;
  }
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    @include padding(0);
    margin: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    img {
      margin: 0 auto;
    }

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-gap: 20px;

    }
  }
}