.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: $cDark;
  font-size: $fMedium;

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: $cBlack;
    opacity: 0.4;
    z-index: 199;
  }

  @include padding(10%);

  .content {
    background-color: $cWhite;
    border-radius: 8px;
    width: 100%;
    overflow: auto;
    @include padding(15px 25px);
    z-index: 10000;
    .close-btn {
      float: left;
    }
  }
}
