.card {
  display: grid;
  grid-template-rows: 1fr 55px;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInFromLeft;

  span {
    color: $cDark;
    line-height: 28px;
  }

  p {
    color: $cDark;
    font-family: ONBB;
    margin: 0;
  }

  img {
    @include box-shadow(0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12));

  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
