.signin-page {
  background-color: $cPrimary;

  @include padding(30px);
  @include solid-top-border(1px, $cDark);
  @include solid-bottom-border(1px, $cDark);
  @include respond(tab-port) {
    padding: 0;
  }

  .signin-form {
    background-color: $cWhite;
    border-radius: 8px;
    padding: 50px;
    margin: 0 auto;
    max-width: 500px;
    @include respond(tab-port) {
      background-color: transparent;
      max-width: 320px;
      padding: 0;
    }

    label {
      color: $cGray;
      font-family: ONBM;
      margin-bottom: 5px;
    }
  }
}