.categories {
  @include solid-border(1px, $cGray);
  .header {
    background-color: $cLgPurple;
    color: $cDrPurple;
    font-family: ONBB;
    text-align: center;
  }
  .list {
    color: $cDark;
    font-family: ONBB;
    padding: 0;
    margin: 25px 0;
    li {
      position: relative;
      list-style: none;
      @include margin(18px 0);
      &:before {
        position: absolute;
        right: 20px;
        content: '';
        width: 20px;
        height: 20px;
        @include solid-border(1px, $cDark);
      }
      span {
        margin-right: 55px;
      }
    }

  }
}