.input {
  position: relative;
  width: 290px;
  height: 60px;
  background: $cWhite;
  color: $cGray;
  border-radius: 5px;
  border: 1px solid $cGray;
  padding: 0 10px;
  font-family: ONBM;
  margin-bottom: 20px;

  &:hover {
    border: 1px solid $cDark;
  }

  &:focus {
    outline: none;
    border: 1px solid $cPrimary;
  }

  @include respond(tab-port) {
    width: 250px;
    height: 45px;
  }
}