.link {
  color: $cWhite;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    opacity: 0;
    background: transparent;
    @include animation()
  }

  &:hover {
    color: $cBlue;

    &:after {
      width: 100%;
      background: $cBlue;
    }
  }
  &.activeLink {
    color: $cBlue;
  }
}