/** Dispaly styles */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: $center;
}

.justify-center {
  justify-content: $center;
}

.justify-space-around {
  justify-content: $space-around;
}

.justify-space-between {
  justify-content: $space-between;
}

.wrap {
  flex-wrap: $wrap;
}

.none-text-decoration {
  text-decoration: none;
}

.full-height {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}
