/** General dynamic sass style */

@mixin theme(
  $size: 1.6em,
  $color: $cWhite,
  $fontFamily: "ONBR"
) {
  font-size: $size;
  color: $color;
  font-family: $fontFamily;
}

@mixin animation($time: 0.5s, $opacity: 1) {
  transition-duration: $time;
  opacity: $opacity;
}

@mixin padding($values...) {
  @each $var in $values {
    padding: #{$var};
  }
}

@mixin margin($values...) {
  @each $var in $values {
    margin: #{$var};
  }
}

@mixin box-shadow($values...) {

    box-shadow: $values;
}

@mixin solid-border($color, $values...) {
  @each $var in $values {
    border: #{$var} solid $color;
  }
}

@mixin solid-top-border($color, $values...) {
  @each $var in $values {
    border-top: #{$var} solid $color;
  }
}

@mixin solid-bottom-border($color, $values...) {
  @each $var in $values {
    border-bottom: #{$var} solid $color;
  }
}

@mixin solid-right-border($color, $values...) {
  @each $var in $values {
    border-right: #{$var} solid $color;
  }
}

@mixin solid-left-border($color, $values...) {
  @each $var in $values {
    border-left: #{$var} solid $color;
  }
}