/**  NEVER CHANGE THE ORDER OF THE MEDIA QUERY */

@mixin respond($breakpoint) {
  // @if $breakpoint == phone {
  //     @media only screen and (max-width: 37.5em) { @content };    //600px
  // }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 48em) {
      @content
    }; //768px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 80em) {
      @content
    }; //1280px
  }
  @if $breakpoint == small-desktop {
    @media only screen and (min-width: 85.375em) {
      @content
    }; //1366
  }
  @if $breakpoint == large-desktop {
    @media only screen and (min-width: 120em) {
      @content
    }; //1920
  }
}