/** General variables */
$center: center;
$space-around: space-around;
$space-between: space-between;
$wrap: wrap;

/** Color palette
 c in first letter stands for word 'color' */
$cWhite: #fff;
$cBlack: #000;
$cBlue: #2476ff;
$cDark: rgb(136, 136, 134);
$cGray: rgb(184, 184, 184);
$cSecondary: rgb(87, 218, 168);
$cPrimary: rgb(116, 70, 135);
$cLgPurple: rgb(237, 201, 239);
$cDrPurple: rgb(181, 31, 188);

/** Font size
  f in first letter stands for 'font' */
$fTiny: 1.2rem;
$fSmall: 1.4rem;
$fMedium: 1.6rem;
$fLarge: 2.4rem;